body {
    position: relative;
    font-family: "Calibri Light";
}

img {
    border: 1px solid black;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0;
}

.right {
    display: inline-block;
    float: right;
    text-align: center;
    padding-right: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.image {
    display: block;
}

.left {
    float: left;
    width: 60%;
    display: inline-block;
}

b {
    font-size: 25px;
    margin-top: 15px;
    display: inline-block;
}